# Python
*.py[cod]
__pycache__/
*.so
*.egg
*.egg-info/
dist/
build/

# Virtual environments
.venv/
venv/
ENV/
env/

# Django
*.log
db.sqlite3
/staticfiles/
/media/

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
.env

