<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
</html>
<head>
    <title>My first webpage</title>
</head>
<body bgcolor="blue"></body>
      <h1>MOUNT KENYA UNIVERSITY</h1><hr/>
      <h2>MISSION</h2>
<P> To provide world class education,research and innovation for global transformation and sustainable development</P><hr/>
      <h2>VISION</h2>
<p>To be a global hub of excellence in education,research and innovation</p><hr/>
<h2>PHYLOSOPHY</H2>
<h2>To harness knowledge in applied sciences and technology for the service of humanity</h2><hr/>