{% extends "base.html" %}
{% block content %}
<div class="container mt-5" id="project-detail-page">
  <h2>{{ project.title }}</h2>
  {% if project.image %}
    <img src="{{ project.image.url }}" alt="{{ project.title }}"
    class="img-fluid mb-3">
  {% endif%}
  <p>{{ project.description }}</p>
  <p><strong>Technologies:</strong>
  {{ project.technologies }}</p>
    {% if project.project_url %}
      <a href="{{ project.project_url }}" target="_blank" class="btn btn-success">Live Project</a>
    {% endif %}
    {% if project.github_url %}
      <a href="{{ project.github_url }}" target="_blank" class="btn btn-dark">Github Repo</a>
    {% endif %}
</div>
{% endblock %}
