{% extends 'base.html' %}
{% block content %}
<section class="services" id="services">
    <div class="container">
        <h2 class="section-title">My Services</h2>
        <p class="section-title">What I Can Do For You</p>
        <div class="services-grid">
            <div class="service-card">
                <i class="fas fa-code service-icon"></i>
                <h3 class="service-title">Web Development</h3>
                <p class="service-description">Building responsive and dynamic websites using modern technologies like Django, HTML5, CSS3, and Bootstrap.</p>
            </div>
            <div class="service-card">
                <i class="fas fa-mobile-alt service-icon"></i>
                <h3 class="service-title">Mobile App Development</h3>
                <p class="service-description">Creating user-friendly Android applications using Kotlin and integrating Firebase for backend services.</p>
            </div>
            <div class="service-card">
                <i class="fas fa-paint-brush service-icon"></i>
                <h3 class="service-title">UI/UX</h3>
                <p class="service-description">Creating clean,User-friendly designs with HTML,CSS and Bootstrap.</p>
            </div>
            <div class="service-card">
                <i class="fas fa-server service-icon"></i>
                <h3 class="service-title">DevOPs (CI/CD)</h3>
                <P class="service-description">Automating deployments,managing servers and integrating CI/CD with tools like GitHub Actions.</P>
            </div>
            <div class="service-card">
                <i class="fas fa-brain service-icon"></i>
                <h3 class="service-title">Artificial Intelligence</h3>
                <p class="service-description">
                    Building intelligent systems using Machine Learning and AI tools to create smart solutions such as chatbots, predictive models, and automation systems.
                </p>
            </div>
        </div>
    </div>
</section>
{% endblock %}